body{
	padding:20px;
	background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/hexellence.png");
	width: 960px;
	
}
.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}



.logo, .about, .form{
		font-family: 'Georgia', Times, Times New Roman, serif;
	}
.nav {
	background-color: #fff;
	color: #000;
	list-style: none;
	text-align: right;
	padding: 0 20px 30px 0;
	
	
}
.nav > li {
	display: inline-block;
	padding: 30px 7px 0 0;
	font-size: 20px;
	;
}


.nav > li > a:hover{
	color: #40bf40;
}

a{
	text-decoration: none;
	color: #777;

}

.logo {
	color:#fff;
	float: left;
	padding: 18px 10px 22px 10px;
	font-size: 40px;
	font-weight: bold;
	background-color:#4aaaa5;
	margin:0 0 0 10px;

	}
.line{
	width: 100%;
	background-color: #cccccc;
	font-size: 2px;
}
.info {
	float: left;
	width: 650px;
	display: block;
	color: #000;
	background-color: #fff;
	margin: 33px 0 40px 10px;
	clear: both;
	border: solid;
	border-color: #dddddd;
	border-width:1px;
	    }
.about{
	color: #4aaaa5;
	font-weight: bold;
	font-size: 30px;
	padding: 30px 0 20px 25px;

}	    
.line2 {
	align-self: center;
	width: 92%;
	background-color: #dddddd;
	font-size: 3px;
	margin: 0 20px 0 25px;
}
.goat{
	height: 200px;
	width: 225px;
	padding: 20px 10px 10px 25px;
	float:left;
}


.info p {
	text-align: justify;
	padding: 20px 20px 10px 20px;
	font-size: 20px;
	color: grey;
}

.contact{
	float: left;
	width: 270px;
	margin: 33px 0 0 20px;
	height: 170px;
	background-color:#fff;
	display: block;
	border: solid;
	border-color: #dddddd;
	border-width:1px;
			}

.contact > h3 {
font-size: 22px;
color: #4aaaa5;
text-align:center;
margin-top: 20px;
font-weight: bold;
font-family: 'Georgia', Times, Times New Roman, serif;

}
.line3 {
	align-self: center;
	width: 80%;
	background-color: #dddddd;
	font-size: 2px;
	margin: 20px 20px 0 25px;

}

.github, .stack, .linkedin{
	width: 50px;
	height: 50px;
	margin-top: 23px;
}

.github{
margin-left: 13px;
}

.stack{
	float: left;
	margin-left:13px;
}
.linkedin{
float: left;
margin-left:36px;
}

.footer{
	background-color: #666666;
	font-style: Arial;
	color: white;
	clear: both;
	width: 100%;
	height: 80px;
	text-align: center;
	padding: 20px 0 0 20px;
	border-top:solid 7px #4aaaa5;
	}

.footer > p {
padding-top: 20px;
}
.image{
	width: 250px;
	height: 200px;
	padding: 20px 20px 10px 40px;
}
.images{
	position: relative;
}
 .absolute {
	position: absolute;
	top: 163px;
	left:40px;
	background-color:#4aaaa5;
	color: white;
	padding:15px 98px 15px 90px;
	}
.absolute2 {
	position: absolute;
	top: 163px;
	left:354px;
	background-color:#4aaaa5;
	color: white;
	padding:15px 89px 15px 88px;
	
}
 .absolute3 {
	position: absolute;
	top: 397px;
	left:40px;
	background-color:#4aaaa5;
	color: white;
	padding:15px 86px 15px 83px;
	
} .absolute4 {
	position: absolute;
	top: 397px;
	left:354px;
	background-color:#4aaaa5;
	color: white;
	padding:15px 56px 15px 63px;
	display: inline-block;
	
} 
.absolute5 {
	position: absolute;
	top: 630px;
	left:40px;
	background-color:#4aaaa5;
	color: white;
	padding:15px 60px 15px 59px;
	
}

.form {
	padding: 20px 0 10px 10px;
	color: #777;
}
input {
	width: 600px;
	height:20px;
}
.message {
	height: 250px;
}

.submit {
	background-color:#4aaaa5;
	color: white;
	width: 150px;
	height: 40px;
}

@media only screen and (max-width: 980px) {
	.container {
		padding: 0 20px;
		max-width: 768px;
	}
	main.container {
		padding-top: 130px;
	}
	.info {
		max-width: 420px;
	}
	.work {
		width: 100%;
	}
	.auth-image {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 768px) {
	.main-section,
	.sidebar {
		max-width: 100%;
	}
	main {
		overflow: auto;
	}
	.work {
		width: 47%;
		margin-bottom: 10px;
	}
	.work:nth-child(even){
		margin-right: 0;
	} 
	.work:nth-child(odd) {
		float: right;
	}
	.auth-image {
		width: 50%;
	}
	.sidebar {
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 640px) {
	#masthead {
		position: static;
		margin-bottom: 20px;
	}
	header .container {
		padding: 0;
	}
	main.container {
		padding-top: 0;
	}
	#logo,
	.work,
	.auth-image {
		width: 100%;
	}
	nav {
		text-align: center;
		width: 100%;
		margin: 15px 0;
	}
	nav a {
		width: 30%;
		padding-left: 0;
		margin-left: 0;
	}
}