body{
	
	/*background-color: black;*/
}



/*holds the contents of the page*/
.container {
	width: 80%;
	max-width: 960px;
	margin: 0 auto !important;
	clear: both;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/*navigation bar*/
.navBar {
	background-color: #445993;
	padding: 1px 110px 8px 110px;
	text-align: left;
	font-family: 'ariel'; 
	font-weight: bold;
	font-size: 30px; 
	color: white ;

}



/*hitgub and linkedin widgets*/
.connect{
float: right;
margin: 0 20px 2px 0;
}

.linkImage{
	height: 50px;
	width: 50px;
}

/*the about me font*/
.about{
	color: #27282E;
	font-weight: bold;
	font-size: 25px;
	padding: 30px 0 20px 25px;

}	    


.img{
	height: 220px;
	width: 320px;
box-shadow: 5px 7px #434357;
}



/*access the project images and position*/
  .img_wrap {
	float: left;
	padding:45px 20px 25px 20px;
	margin: 20px 0 20px 0;
}

/*hover effect and styles*/
/* styles */

.img_description {
  position: absolute;
  height: 220px;
  width: 320px;
  background:rgba(18, 18, 19, 0.65);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;


/* transition effect. not necessary */
  transition: opacity .7s, visibility .5s;
}

/*creates the hover over effect*/
 .img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
}

/*buttons inside the project images*/
.project_button{
position: absolute;
margin: 180px 200px 20px 100px;
visibility: hidden;
opacity: 0;
transition: opacity .7s, visibility .5s;
}
/*brings the buttons into visibility*/
.img_wrap:hover .project_button{
  visibility: visible;
  opacity: 1;
}



/*the comment form section*/
.form-group > .nameGroup{
	width: 130px;
}

.form-group > #messageText {
	height: 160px;
	width: 420px;	
}

/*comments section*/
.comment-section{
	margin: 80px auto;
	border-top: solid 1px black;
	width: 800px; 
}

/*styles the dynamically created comment box */
.commentStyle{	
	border-bottom: solid 1px grey;

}

.commentStyle > p{
	margin :10px 0 10px 6px;	
}

.commentStyle > h6{

	margin: 8px 0 5px 6px;
	font-size: 12px;
	display: inline-block;
	font-style: italic;
	font-weight: bold;
	
}
.commentStyle > h6 > p{
	font-weight: lighter;
}
/*styles the image */
#commentImg { 
	height: 40px;
	width: 40px;
	margin: 0 8px 0 6px;
	/*padding-top: 8px 0 0 8px;*/
	border: solid 1px black;
	background-color: white;
 }



/*static footer styler*/
.footer{
	background-color: #666666;
	font-style: Arial;
	color: white;
	clear: both;
	width: 100%;
	height: 80px;
	text-align: center;
	padding: 10px 0 0 20px;
	border-top:solid 4px #4aaaa5;
	margin-top: 50px;
	}
/*footer font*/
.footer > p {
padding-top: 20px;
}


